In [1]:
import pandas as pd
import numpy as np
import string
from nltk.stem.snowball import ItalianStemmer

In [24]:
# Dirty work: merging documents 

        # first csv (downloaded by Mic)  # second and third csv (downloaded by Paolo)
allFiles = ['data/raw_data_BACKUP.csv', 'data/raw_data1.csv', 'data/raw_data2.csv']

list_ = []

for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

frame = pd.concat(list_, axis = 0, ignore_index = True)

print('first len:', len(frame))
# drop first column 'unnamed: 0'
frame = frame.drop('Unnamed: 0', axis=1)
frame.drop_duplicates(inplace=True)
print('new len:', len(frame))

frame.to_csv('data/raw_data.csv',index_label=False)

first len: 14759
new len: 14596

In [25]:
frame

,title,price,locali,superficie,bagni,piano,description
0,Nuovi Appartamenti e Attici / Mansarde in Vend...,€ 192.000 - € 705.000,1 - 5,46.0,NaN,NaN,\n Le residenze...
1,"Bilocale viale Italo Calvino, Fonte Ostiense, ...",€ 225.000,2,50.0,1,1 \n,\n PAPILLO EUR ...
2,"Quadrilocale via Alessandro Fleming, Fleming, ...",€ 1.350.000,4,200.0,2,2 \n,\n FLEMING - IN...
3,"Quadrilocale via Aosta 45, Re di Roma, Roma",€ 450.000,4,135.0,1,A \n,\n Rif: 18086 -...
4,"Attico / Mansarda largo Arturo Donaggio, Torre...",€ 135.000,2,60.0,1,5 \n,\n Torrevecchia...
5,"Villa via Cristoforo Sabbadino 88, Piana del S...",€ 229.000,5,169.0,3+,NaN,\n a soli € 229...
6,"Bilocale viale delle Medaglie d'Oro 124, Medag...",€ 249.000,2,75.0,1,1 \n,"\n Balduina, ad..."
7,"Villa via Saturnia, San Giovanni, Roma",€ 2.500.000,5+,625.0,3+,NaN,\n A due passi ...
8,"Bilocale via Savona, Villa Fiorelli, Roma",€ 339.000,2,70.0,1,3 \n,\n In Via Savon...
9,"Bilocale via Silicella 17, Tor Tre Teste - Tor...",€ 115.000,2,58.0,1,3 \n,\n Rif: 18028 -...
10,"Box / Garage via Giuseppe Renato Bellot 46, Ca...",€ 20.000,NaN,19.0,NaN,NaN,\n OSTIA - Cast...
11,"Quadrilocale via Cristoforo Sabbadino, Piana d...",€ 189.000,4,168.0,3+,T \n,\n complesso is...
12,"Trilocale via Carlo Dapporto 38, Porta di Roma...",€ 215.000,3,67.0,1,1 \n,\n Rif: 18105 -...
13,"Trilocale via Fontanellato 75, Ardeatino - Mon...",€ 279.000,3,110.0,1,T \n,\n Rif: 18101 -...
14,"Appartamento viale delle Mura Gianicolensi, Mo...",€ 1.380.000,5+,140.0,2,2 \n,\n In Viale del...
15,"Trilocale via Mattia Battistini 220C, Battisti...",€ 279.000,3,100.0,2,1 \n,\n Pineta Sacch...
16,"Appartamento piazza Camillo Benso di Cavour, P...",€ 549.000,5,85.0,2,2 \n,"\n Prati, appar..."
17,"Appartamento piazza Cavour, Prati, Roma",€ 950.000,5,170.0,1,3 \n,"\n Prati, appar..."
18,"Attico / Mansarda viale Ezra Pound, Talenti - ...",€ 940.000,5+,200.0,3,A \n,\n Nella tranqu...
19,"Bilocale via Mario Musco 82, Ardeatino - Monta...",€ 259.000,2,55.0,1,A \n,"\n Montagnola, ..."
20,"Appartamento viale dell'Oceano Atlantico 250, ...",€ 579.000,5,160.0,2,2 \n,"\n Eur, Apparta..."
21,"Trilocale via Arnaldo Cantani, Massimina, Roma",€ 269.000,3,87.0,2,3 \n,\n CASAL LUMBRO...
22,"Quadrilocale via Dacia 22, Re di Roma, Roma",€ 480.000,4,125.0,2,4 \n,\n Rif: 18091 -...
23,"Palazzo / Stabile via Nomentana, Policlinico, ...",€ 4.200.000,5+,850.0,3+,NaN,\n TRIESTE - VI...
24,"Bilocale via della Camilluccia, Camilluccia - ...",€ 169.000,2,58.0,1,T \n,"\n Camilluccia,..."
25,"Appartamento via Sesto Rufo 42, Balduina, Roma",€ 1.080.000,5+,250.0,3+,3 \n,\n In Via Sesto...
26,Attico / Mansarda viale delle Medaglie d'Oro 2...,€ 238.000,2,40.0,1,7 \n,\n Adiacente ai...
27,"Villa via Tommaso Traetta, Infernetto, Roma",€ 275.000,4,129.0,1,NaN,\n Villa nuova ...
28,"Quadrilocale via Giulio Pasquati 210, Vigne Nu...",€ 269.000,4,128.0,2,3 \n,\n Rif: 18038 -...
29,Trilocale piazza San Giovanni in Laterano 3741...,€ 339.000,3,90.0,1,4 \n,\n San Giovanni...
...,...,...,...,...,...,...,...
14728,"Bilocale via Giuseppe Bellucci, Ponte Mammolo,...",€ 215.000,2,65.0,2,T \r\n,\r\n Casal De P...
14729,"Villa via della Maglianella 0, Maglianella, Roma",€ 1.990.000,5+,1.0,3+,NaN,\r\n Rif: anton...
14730,"Bilocale via Pico della Mirandola, Ardeatino -...",€ 220.000,2,60.0,1,2 \r\n,\r\n Rif: 426 -...
14731,"Appartamento via COMO, Policlinico, Roma",€ 775.000,5+,180.0,3+,4 \r\n,\r\n Rif: 61.17...
14732,"Appartamento all'asta via Matilde Serao 21, Roma",da € 78.000,3,77.0,1,T \r\n,\r\n proprietà ...
14733,"Bilocale via Claudio Achillini, Talenti - Mont...",€ 329.000,2,65.0,1,1 \r\n,\r\n TALENTI - ...
14734,"Villa via Clarice Tartufari, Trigoria, Roma",€ 1.370.000,5+,700.0,3+,NaN,\r\n Rif: Villa...
14736,"Villa via Giovanni Bolzoni, Infernetto, Roma",€ 345.000,5,185.0,3,NaN,\r\n Infernetto...
14737,"Appartamento via Giacinto Carini, Monteverde V...",€ 870.000,5,185.0,3,3 \r\n,\r\n Monteverde...
14738,"Appartamento piazza Conca D'oro 0, Conca d'Oro...",€ 489.000,5,145.0,2,1 \r\n,\r\n Rif: anton...
14739,"Quadrilocale via Cavour, Monti, Roma",€ 920.000,4,180.0,2,1 \r\n,\r\n Rif: 220/C...
14740,"Appartamento all'asta via Ocre 31, Roma",da € 64.800,6,76.0,1,1 \r\n,\r\n appartamen...
14741,"Appartamento Circonvallazione Appia, Appio Lat...",€ 899.000,5,190.0,3,1 \r\n,\r\n Appio lati...
14742,"Quadrilocale via lanciani, Bologna, Roma",€ 395.000,4,135.0,2,R \r\n,\r\n Rif: rober...
14743,"Attico / Mansarda via del Fontanile Arenato, P...",€ 595.000,5+,150.0,2,A \r\n,\r\n PER VIRTUA...
14744,"Trilocale via Della Magliana, 719, Trullo - Co...",€ 175.000,3,90.0,1,2 \r\n,\r\n Magliana -...
14745,"Villa via Agerola, Trigoria, Roma",€ 285.000,4,135.0,3,NaN,\r\n TRIGORIA –...
14746,"Appartamento via Castelfranco Veneto 57, Flemi...",€ 640.000,5,150.0,2,3 \r\n,"\r\n VENDESI , ..."
14747,"Trilocale via ferdinando pinelli 0, Balduina, ...",€ 279.000,3,90.0,1,R \r\n,\r\n Rif: rober...
14748,"Quadrilocale via C.Pilotto, Serpentara, Roma",€ 279.000,4,100.0,2,1 \r\n,\r\n Rif: Anton...
14749,"Villetta a schiera via San Biagio Platani, Bor...",€ 250.000,5+,200.0,3,NaN,\r\n Rif: Plata...
14750,"Trilocale via dei Monti Parioli 35, Euclide, Roma",€ 695.000,3,92.0,2,4 \r\n,\r\n Quartiere ...
14751,"Appartamento via di Priscilla, Africano - Vill...",€ 950.000,5+,190.0,3,2 \r\n,\r\n Rif: 4V - ...
14752,"Trilocale via Andrea Solario 86, Tintoretto, Roma",€ 489.000,3,110.0,2,6 \r\n,\r\n VIA ANDREA...
14753,"Attico / Mansarda via Polonia, Pinciano - Vill...",€ 1.690.000,5+,219.0,3,A \r\n,\r\n PARIOLI – ...
14754,"Trilocale viale degli Ammiragli, Cipro, Roma",€ 580.000,3,120.0,1,A \r\n,\r\n Musei Vati...
14755,"Appartamento largo di Torre Argentina, Largo A...",€ 1.420.000,5,160.0,2,2 \r\n,\r\n Appartamen...
14756,"Trilocale viale Pantelleria, Conca d'Oro - Val...",€ 370.000,3,90.0,1,5 \r\n,\r\n MONTESACRO...
14757,"Trilocale via Livorno, Bologna, Roma",€ 415.000,3,106.0,1,1 \r\n,\r\n Rif: Via L...
14758,"Appartamento viale Cortina d'Ampezzo, Cortina ...",€ 550.000,5+,150.0,3,1 \r\n,\r\n CAMILLUCCI...

In [26]:
# price_preprocessing
def price_prep(s):
    
    # removing punctuation and symbols
    s = s.replace('.','')
    s = s.replace('€','')
    s = s.strip(' ')
    s = s.split('-')

    # return first value
    # or the mean between the two
    if len(s) == 1:
        return float(s[0])
    else:
        min_price = float(s[0])
        max_price = float(s[1])
    return (min_price+max_price)/2


# locali preprocessing
def locali_preproc(s):
    s = s.strip()
    s = s.replace('+','')
    return int(s[len(s)-1])



# no need superficie (already float values)

# bagni preproc on place


# piano preprocessing
def piano_preproc(x):
    
    x = str(x)
    x = x.strip()
    
    if x == 'T':
        return 0
    elif x == 'A' or x == '11+':
        return np.nan #return nan
    elif x == 'R':
        return 0.5
    elif x == 'S':
        return -1
#   elif x == '11+':
#      return 11
    else:
        return float(x)


# description preprocessing
def description_preproc(description):

    sp = string.punctuation+'“”–’°•€'
    punctuation_remover = str.maketrans('', '', sp)
    
    description = description.strip()
    description = description.replace("\n", " ")
    description = description.replace('\r', " ")
    
    description = description.split(' ')
    
    # removing punctuation
    description = [ word.translate(punctuation_remover) for word in description ]
    
    #removing empty spaces in the list 
    description = filter(None, description)
    
    # Italian stemmer
    stemmer = ItalianStemmer()
    # stemmed list
    stemmed_list = [stemmer.stem(word) for word in description]
    
    
    return ' '.join(stemmed_list)

In [35]:

# load csv file
df = pd.read_csv('data/raw_data.csv')

# delete rows with na values
df.dropna(inplace=True)


# price prep
df = df[df.price.str.contains('[a-zA-Z]') == False]
df.price = df.price.map(price_prep)
df = df[df.price > 2000 ]

# locali prep
df.locali = df.locali.map(locali_preproc)

# superficie doesn't needs prep

# bagni prep
df.bagni = df.bagni.map(lambda x: int(x[0]))

# piano prep
df.piano = df.piano.map(piano_preproc)

# stemming description
df.description = df.description.map(description_preproc)
#remove na
df.dropna(inplace=True)

In [36]:
df.to_csv('data/data_preprocessed.csv')

In [37]:
prova = pd.read_csv('data/data_preprocessed.csv')

In [39]:
len(prova)

10332

In [26]:
df = pd.read_csv('data/data_preprocessed.csv', usecols=['price','locali','superficie','bagni','piano'])

In [27]:
df

           price  locali  superficie  bagni  piano
0       225000.0       2        50.0      1    1.0
1      1350000.0       4       200.0      2    2.0
2       135000.0       2        60.0      1    5.0
3       249000.0       2        75.0      1    1.0
4       339000.0       2        70.0      1    3.0
5       115000.0       2        58.0      1    3.0
6       189000.0       4       168.0      3    0.0
7       215000.0       3        67.0      1    1.0
8       279000.0       3       110.0      1    0.0
9      1380000.0       5       140.0      2    2.0
10      279000.0       3       100.0      2    1.0
11      549000.0       5        85.0      2    2.0
12      950000.0       5       170.0      1    3.0
13      579000.0       5       160.0      2    2.0
14      269000.0       3        87.0      2    3.0
15      480000.0       4       125.0      2    4.0
16      169000.0       2        58.0      1    0.0
17     1080000.0       5       250.0      3    3.0
18      238000.0       2        40.0      1    7.0
19      269000.0       4       128.0      2    3.0
20      339000.0       3        90.0      1    4.0
21     1700000.0       5       460.0      3    0.0
22      849000.0       4       127.0      1    2.0
23      119000.0       2        55.0      1    0.0
24      450000.0       4       120.0      1    3.0
25      370000.0       4       139.0      2    5.0
26      165000.0       2        78.0      1    4.0
27      539000.0       4       140.0      2    3.0
28     2150000.0       4       150.0      1    4.0
29     2500000.0       5       300.0      3    2.0
...          ...     ...         ...    ...    ...
10302   189000.0       2        85.0      1    0.0
10303   245000.0       2        75.0      1    3.0
10304   445000.0       4       125.0      1    1.0
10305   250000.0       3        91.0      1    4.0
10306   150000.0       3        88.0      1    1.0
10307   105000.0       2        70.0      1    5.0
10308   175000.0       2        60.0      1    1.0
10309   340000.0       4       125.0      2    2.0
10310   420000.0       4       100.0      3    0.0
10311   279000.0       2        65.0      1    0.0
10312   215000.0       2        65.0      2    0.0
10313   220000.0       2        60.0      1    2.0
10314   775000.0       5       180.0      3    4.0
10315   329000.0       2        65.0      1    1.0
10316   870000.0       5       185.0      3    3.0
10317   489000.0       5       145.0      2    1.0
10318   920000.0       4       180.0      2    1.0
10319   899000.0       5       190.0      3    1.0
10320   395000.0       4       135.0      2    0.5
10321   175000.0       3        90.0      1    2.0
10322   640000.0       5       150.0      2    3.0
10323   279000.0       3        90.0      1    0.5
10324   279000.0       4       100.0      2    1.0
10325   695000.0       3        92.0      2    4.0
10326   950000.0       5       190.0      3    2.0
10327   489000.0       3       110.0      2    6.0
10328  1420000.0       5       160.0      2    2.0
10329   370000.0       3        90.0      1    5.0
10330   415000.0       3       106.0      1    1.0
10331   550000.0       5       150.0      3    1.0

[10332 rows x 5 columns]

In [23]:
prova

array([[2.25e+05, 2.00e+00, 5.00e+01, 1.00e+00, 1.00e+00],
       [1.35e+06, 4.00e+00, 2.00e+02, 2.00e+00, 2.00e+00],
       [1.35e+05, 2.00e+00, 6.00e+01, 1.00e+00, 5.00e+00],
       ...,
       [3.70e+05, 3.00e+00, 9.00e+01, 1.00e+00, 5.00e+00],
       [4.15e+05, 3.00e+00, 1.06e+02, 1.00e+00, 1.00e+00],
       [5.50e+05, 5.00e+00, 1.50e+02, 3.00e+00, 1.00e+00]])